{{ define "main" }}  
<div>  
    <h1>{{ .Title }}</h1>  
    <hr class="my-2">
    {{ .Content }}  
    {{ range .Pages }} 
        <div 
            class="border border-gray-400 my-5 shadow-hard-down"
        >
            <div class="flex justify-between">
                <a class="block relative flex-grow p-2 font-bold bg-white bg-opacity-70 hover:bg-opacity-80" href="{{ .Permalink }}">
                    {{ if .Params.thumbnail }}
                        <img src="{{ .Params.thumbnail }}" class="absolute inset-0 object-cover h-full w-full -z-10">
                    {{ else }}
                        <div src="{{ .Params.thumbnail }}" class="absolute inset-0 bg-gray-300 h-full w-full -z-10"></div>
                    {{ end }}
                    {{ .Title }}
                </a>
                <p class="p-2">{{ .Date | time.Format ":date_medium" }}</a>
            </div>
            {{ if .Content }}

                <div class="p-2 border-t pointer-events-none border-gray-400 relative">
                    <p>
                        {{ .Summary }}
                    </p>
                    {{ if .Truncated }}
                        <div class="absolute inset-0 bg-gradient-to-b from-transparent to-white"></div>
                    {{ end }}
                </div>
                {{ if .Truncated }}
                    <a class="block text-center w-full text-gray-600 underline my-1" href="{{ .RelPermalink }}">Read More…</a>
                {{ end }}

            {{ end }}

        </div>
    {{ end }}  
</div>  
{{ end }}  